.friendItemAvatar {
  margin: 0 auto;
  margin-bottom: 10px;
}
.friendItemName {
  font-size: 20px;
  margin-bottom: 5px;
}

.friendItemStatus {
    font-size: 12px;
}
.friendItemOnline {
  color: green;
}
.friendItemOffline {
  color: red;
}
